.likedis-item
  // display: flex
  // gap: 15px
  text-align: center
  h3
    font-size: $standartSize
    color: $blackColor
  .btn-container
    margin-top: 8px
  .btn
    padding: 5px 12px
.likedis-img
  width: 100px
  height: 100px
  display: inline-block
  position: relative
  overflow: hidden
  border-radius: 100%
  font-size: 0
  .img-cover
    @include positionElement(100%,100%)
