.controls-panel
  .controls-btn.controls-chat
    i
    span 10
  .controls-btn.controls-like
    i
  .controls-btn.controls-invite
    i
  .controls-btn.controls-search
    i
  .controls-btn.controls-settings
    i
.controls-panel-popup
  .controls-panel-head Симпатии
  .panel-deg.panel-deg--active-1
  .panel-close
  .popup-chat
    include controls-panel/chat.pug
  //-   .popup-chat-rooms
  //-     +roomItem('Ольга', '16.06.2023', 4)
  //-     +roomItem('Ольга', false)
  //-     +roomItem('Ольга', false,false)
  //- include controls-panel/likes
  //- include controls-panel/invites
