footer
	.main-grid
		.col-3
			.nav
				h3 
					a(href="#") Юридическая информация
				ul
					each val in ["Конфиденциальность","Условия","Политика в отношении","файлов Cookie","Интеллектуальная собственность"]
						li  
							a(href="#") 
								= val
		.col-3
			.nav
				h3 
					a(href="#") Дополнительная информация
				ul
					each val in ["Кайтеринг на яхте","Оформление яхты для торжественного события","Аренда катера для рыбалки","Водные активности","Трансфер"]
						li
							a(href="#")=val
		.col-6.footer-text
			p.
				Внимание всем одиноким людям — на самом деле вы не одиноки! 
				Если ты хочешь найти любовь, отношения или новых друзей, то тебе надо в Tinder. 
				Здесь уже образовано более 55 миллиардов пар, а значит ты точно найдешь тех, кто тебе близок. 
				Посмотрим правде в глаза — сейчас все знакомятся онлайн. 
				Tinder — это самое популярное приложение, которым пользуются миллионы парней и девушек для знакомства и общения рядом. 
				К тому же в Tinder рады всем, независимо от сексуальной ориентации и гендерной идентичности.
			p.
				В Tinder ты точно найдешь то, что ищешь. Хочешь новых отношений? 
				Пожалуйста. Ищешь новых друзей? Без проблем. Ты учишься в универе и мечтаешь получить максимум от студенческой жизни? 
				Для этого есть Tinder U. 
				Tinder — это не просто сайт знакомств, а целая соцсеть, где самые разные люди со всего мира встречаются, 
				заводят новых друзей и находят свою любовь.
			p *Представленные фото являются моделями и используются для демонстрации.
	.main-grid.footer-bottom
		.col-9
			ul
				each val in ["Конфиденциальность","Условия","Политика в отношении","файлов Cookie","Интеллектуальная собственность"]
					li  
						a(href="#") 
							= val 
		.col-3.footer-copyright
			| © 2023 HotPal. Все права защищены.