//- include preload.pug
header
	.main-grid
		.col-4.vertical-align
			nav.nav-header
				ul.ln
						li 
							a(href="#") Поддержка
						li 
							a(href="#") Безопасность
						li 
							a(href="#") О Нас
		.col-1
		.col-2.logo-container
			a.logo(href="#") 
				img(src="/images/logo.svg", alt="")
		.col-5.vertical-align
			.btn-container 
				a(href="#").btn.btn-out.btn--white Войти


