include ../default/build-header
// header start
include ../blocks/header.pug
// header end
// main start
.main-page
  include home/main.pug 
  include home/simple-text.pug
  // main end

  include home/partners.pug



include ../blocks/footer.pug 
// footer end  