.chat-messages
	.messages-container
		.messages-item 
			.messages-box Did you mail me
			.messages-date 5.54 pm
		.messages-item--answer 
			.messages-box--answer Yes I Did...
			.messages-date 7.54 pm
		.messages-item 
			.messages-box Okay, let me check
			.messages-date 10.54 pm
		.messages-item 
			.messages-box Did you mail me
			.messages-date 5.54 pm
		.messages-item--answer 
			.messages-box--answer Yes I Did...
			.messages-date 7.54 pm
		.messages-item 
			.messages-box Okay, let me check
			.messages-date 10.54 pm