section.home-simple-text
	.main-full
		h2
			| Как это работает?
		.text.
			Около 35% людей одиноки. В мире, где существует бесконечное множество локаций для знакомств.
			Но мы уверены, что знакомство в отеле является одним из лучших. Вы отдохнувшие, радостные
			и заинтересованные, как никогда, в новых приключениях.

			И поэтому мы решили облегчить вам поиск и сделать ваш отпуск увлекательным и незабываемым!