mixin likedisItem()
	.likedis-item
		.img-cover-info
			.img-cover.likedis-img
				img(src="/images/temp/avatar-1.jpg", alt="")
			h3 Максим
		.btn-container 
			a.btn.btn--gray-border(href="#") Разблокировать 