mixin sympathyItem()
	.sympathy-item
		.img-cover-info
			.img-cover.sympathy-img
				img(src="/images/temp/avatar-1.jpg", alt="")
			h3 Максим
		.btn-container 
			.sympathy-hint Ответ на симпатию
			div
				.status-sympathy.status--disagree  Нету симпатии
			.sympathy-hint Ваш ответ
			.sympathy-btn.see-sympathy-btn(title="Еще посмотрю")
			.sympathy-btn.agree-sympathy-btn(title="Ниче так")
			.sympathy-btn.disagree-sympathy-btn(title="Неее")
			.sympathy-btn.trash-sympathy-btn(title="С глаз долой")