mixin usersItem()
	a(href="#").users-item
		//- .users-item-img.img-cover
		//- 	img(src="/images/temp/avatar-1.jpg", alt="")
		.users-item-img--empty
		.users-item-bg
		.users-item-info
			.hotels-users
				.hotels-users-logo 
					img(src="/images/temp/radisson_logo.svg", alt="")
			.goals-users
				div
					.goals-users-tag
						i.bokal-ico
				div
					.goals-users-tag
						i.padushka-ico
				div
					.goals-users-tag
						i.plag-ico
				div
					.goals-users-tag
						i.pribor-ico
			.name-users
				h3
					span Василиса
					span , 28
			.btn-container
				.btn-container-inner
					.btn-ico--like.btn-ico
					.btn-ico--chat.btn-ico