.invites-popup
  .invites-popup-item 
    .invites-img
    .invites-name 
    .invites-info 
      .invites-type 
      .btn-container 
      .btn-apply
        i
        span Принять
      .btn-dismiss
        i
        span Отказать