.invites-popup
 -for(x=0;x<4;x++)
    .invites-popup-item 
      .invites-img
      .invites-info 
        .invites-name Елизавета
        .invites-type 
          i
            .bokal-ico
          span Свидание в номере
        .btn-container 
          .btn-apply.btn
            i
            span Принять
          .btn-dismiss.btn
            i
            span Отказать